---
import "swiper/css";

import data from "../data/index.json";
const s = data.advantages;
---

<section class="why section">
  <div class="container">
    <!-- title -->
    <h2 class="section-title mb-6 xl:mb-16" set:html={s.title} />

    <!-- text -->
    <p>{s.text}</p>

    <!-- cards swiper -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        ...
      </div>

      <!-- If we need navigation buttons -->
      <div class="mt-16 size-fit">
        <button class="swiper-button-prev" type="button">---</button>
        <button class="swiper-button-next" type="button">+++</button>
      </div>
    </div>

    <!-- subtitle -->
    <h3
      class="mt-6 mb-11 text-center text-[24px]/[1.2] font-semibold text-black xl:mt-16">
      {s.subtitle}
    </h3>

    <!-- reviews -->
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  // https://swiperjs.com/swiper-api#parameters

  document.addEventListener("DOMContentLoaded", () => {
    // cards swiper:
    const cardsSwiper = new Swiper(".swiper", {
      // configure Swiper to use modules
      modules: [Navigation],
      loop: true,
      grabCursor: true, // Default: false (boolean). This option may a little improve desktop usability. If true, user will see the "grab" cursor when hover on Swiper.
      spaceBetween: 20, // Default: 0 (string | number). Distance between slides in px.
      breakpoints: {
        768: {
          slidesPerView: 2,
          spaceBetween: 32,
        },
        1280: {
          slidesPerView: 3,
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  });
</script>
