---
import data from "../data/index.json";
const s = data.header;
---

<header class="header bg-black pt-24.25 text-white md:py-16 xl:py-34">
  <div
    class="container md:flex md:items-center md:justify-center md:gap-8 xl:gap-22.5">
    <!-- wrapper -->
    <div
      class="flex flex-col items-start justify-start gap-8 md:w-93.75 md:shrink-0 xl:w-118.5">
      <!-- title -->
      <h1
        class="section-title text-[32px] text-white max-md:mx-auto md:text-left xl:w-fit xl:text-[60px]">
        {s.title}
      </h1>
      <!-- text -->
      <p class="text-[14px]/[1.4] text-balance md:text-base/normal">
        {s.text}
      </p>
      <!-- button -->
      <a class="btn md:w-60" href={s.btn.link}>
        {s.btn.title}
      </a>
    </div>

    <!-- image -->
    <picture>
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="/images/header/image-md.webp"
      />
      <img
        class="relative max-md:right-1/2 max-md:left-1/2 max-md:mt-5 max-md:-mr-[50vw] max-md:-ml-[50vw] max-md:w-screen max-md:max-w-none md:size-auto xl:max-w-169.5"
        src="/images/header/image-sm.webp"
        title="iphones with Peekviewer Instagram Story Viewer app on their screens"
        alt="iphones with Peekviewer Instagram Story Viewer app on their screens"
        width="360"
        height="346"
        loading="lazy"
      />
    </picture>
  </div>
</header>
