---
import data from "../data/index.json";
const s = data.how;
---

<section class="how section bg-black text-white">
  <div class="container">
    <!-- wrapper -->
    <div class="">
      <!-- title -->
      <h2 class="section-title text-white mb-6" set:html={s.title} />
      <!-- text -->
      <p class="">
        {s.text}
      </p>
      <!-- points -->
      <ul
        class="mt-4 mb-1 flex flex-col gap-6 items-start justify-start w-fit mx-auto">
        {
          s.points.map((point) => (
            <li class="flex items-center justify-center gap-5 font-inter">
              <p class="shrink-0 p-2 flex items-center justify-center w-13 h-11.5 bg-[#002b6b] rounded-full font-medium text-lg/[1]">
                {point.number}
              </p>
              <p class="text-[18px]/[1.6]">{point.text}</p>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- image -->
    <picture>
      <source
        type="image/webp"
        media="(min-width: 768px)"
        srcset="/images/how/image-md.png"
      />
      <img
        class="xl:w-94.5 mx-auto"
        src="/images/how/image-sm.png"
        title="iphone with Peekviewer Instagram Story Viewer app"
        alt="iphone with Peekviewer Instagram Story Viewer app"
        width="310"
        height="611"
        loading="lazy"
      />
    </picture>
  </div>
</section>
